.detail-gallery-title {
  font-size: 40px;
  font-weight: 800;
  color: #3f4e4f;
  text-align: center;
}

.main-detail-gallery {
  margin-top: 120px;
}

.main-detail-gallery hr {
  width: 20%;
  border-width: 5px;
  margin: auto;
}


.btn-review {
  padding: 0px 12px;
  background-color: #A27B5C;
  color: white;
  height: 42px;
  font-weight: 600;
}

.btn-review:hover {
  padding: 8px 12px;
  border: 2px solid #A27B5C;
  color: #A27B5C;
}

.star-container {
  margin-top: -14px;
}

.content-review h5 {
  font-size: 24px;
  text-transform: capitalize;
}

.content-review p {
  font-size: 17px;
  text-transform: capitalize;
}