#delFotoGallery{
    position: absolute;
    bottom: 10px;
    left: 10px;
}

#overlay{
    position: absolute;
    opacity: 1;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 100;
}

#nama-wisata h5:hover{
    color: brown !important;;
}